{% extends 'maintodoapp/base.html' %}


{% block content %}
  <h2> Task-uri batute in cuie! </h2>

      <!-- Table data -->
      <table style="width:100%">
	<thead>
        <tr>
          <th>Nr. task</th>
          <th>Task</th>
          <th>Stare</th>
        </tr>
      </thead>
      <tbody>
	{% if tasks %}
		{% for task in tasks %}
		<tr>
		  <td>{{ task.id }}</td>
		  <td>{{ task.task }}</td>
		  <td>{{ task.done_task }}</td>
		</tr>
		{% endfor %}
	{% endif %}
      </tbody>
      </table>
      <!-- END TABLE -->

      <br>
      <br>

<!-- FORM TO SEND DATA TO DB -->
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Adauga in tabel</button>
</form>
<!-- END FORM -->

{% endblock %}
